.preparationMainDiv {
  display: grid;
  grid-template-columns: 1fr 180px 180px;
  gap: 10px;
  margin-bottom: 14px;
  position: fixed;
  top: 70px;
  width: 85%;
  z-index: 10;
  background: #fff;
  padding: 10px;
  border-radius: 12px;
}
h2.mainH2InPrep {
  margin-bottom: 10px;
  margin-top: 60px;
}
.preparationMainDiv2 {
  opacity: 0.8;
  margin-bottom: 12px;
}
@media (max-width: 768px) {
  .mainPreparation{
    display: flex;
    gap: 10px;
    flex-direction: column;
  }
  h2.mainH2InPrep {
    margin-bottom: 0px;
    margin-top: 0px;
  }
  .preparationMainDiv {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: unset;
    margin: 10px;
  }
}
